<%-include('partials/head.ejs') %>
<body>
    <%-include('partials/header.ejs') %>
	
	<div class= "container" id= "products-wrapper">
		<div class = "row">
			<div class="col-12">
				<h2 class="products-title">Productos</h2>
				<script>
					document.querySelector("products-title").innerHTML += "hola";
    
			   </script>
			</div>
			<% for (let i = 0; i < productos.length; i++) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">						
					<figure class="product-box_image">
						<a href="/productDetail/<%=productos[i].id%>"><img src="/images/products/<%=productos[i].imagen%>"  alt="imagen de producto"></a>
					</figure>
					<article class="product-box_data">					
						<p><%=productos[i].nombre%></p>
						<p class="estiloDelPrecio">$<%=productos[i].precio%></p>
						<i class="fas fa-truck"></i>
						<button type="button" class="btn btn-warning" id = "buttonAgregar">Agregar al carrito</button>
		 			</article>
			
	            	</section>
			    </div>
			<% } %>
		</div>
</div>
    <%-include('partials/footer.ejs') %> 
<!--
	<script>
	window.addEventListener("load", function(){
		let button = document.querySelectorAll(".product-box_data i");
		let elimimar = document.getElementsByClassName(".product-box_data i");
      for(let i = 0; i < button.length; i++){ 
		 	button[i].addEventListener("click", function(){
			this.style.backgroundColor= "red";
		})
	}

	})
</script>
	<script src = "../public/Frontjs/agregaralcarrito.js"></script>
-->
</body>
</html>
