<%-include('partials/head.ejs') %>

<body>
    <%-include('partials/header.ejs') %>
	
	<div class= "container">
		<div class = "row">
			<div class= "col-3">
			<% for (product of products) { 
				%>
				<figure class="product-box_image">
					<img src="/images/products/<%= product.imagen %>" alt="imagen de producto">
				</figure>
				<article class="product-box_data">
					
			<%= product.nombre %>
				</li>
			
			<%} %>  
			</div>
		</div>
	</div>
    <%-include('partials/footer.ejs') %>

</body>

</html>
