<%-include('partials/head.ejs') %>

<body>
    <%-include('partials/header.ejs') %>
	
	<div class= "container">
		<div class = "row">
			<div class= "col-3">
			<% for (let i =0; i < products.length; i++) { 
				%>
				<figure class="product-box_image">
					<img src="" alt="imagen de producto">
				</figure>
				<article class="product-box_data">
					<h2>$<%= thousandGenerator(finalPrice) %></h2>
			<%= products[i].nombre%>
				</li>
			
			<%} %>  
			</div>
		</div>
	</div>
    <%-include('partials/footer.ejs') %>

</body>

</html>
